name: Test sdkman

on:
  workflow_dispatch:

jobs:
  setup-java-version-from-file-major-minor-patch-with-dist:
    name: ${{ matrix.distribution }} version from file '${{ matrix.java-version-file }}' - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        distribution: ['adopt', 'zulu', 'liberica']
        java-version-file: ['.tool-versions', '.sdkmanrc']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create .tool-versions file
        shell: bash
        run: echo "java openjdk64-17.0.10" > .tool-versions
      - name: Create .sdkmanrc file
        shell: bash
        run: echo "java=17.0.10-tem" > .sdkmanrc
      - name: setup-java
        uses: guicamest/setup-java@feat/669/support_sdkmanrc
        id: setup-java
        with:
          distribution: ${{ matrix.distribution }}
          java-version-file: ${{matrix.java-version-file }}


